html{
    font-size: 10px;
    height:100%;
    max-width: 768px;
    background-color: #f5f5f5;
    -webkit-tap-highlight-color: #f5f5f5 ;
}
body{min-height: 100%;position: relative;background-color: #f5f5f5;}
a{
    text-decoration:none;
    color: #333333;
}
*{margin: 0;padding: 0;}
.commonPadding{
    padding: 0 1.2rem;
}
.hide{display: none !important;}
.starMark{
    padding-left: 6px;
    color: red;
    vertical-align: -webkit-baseline-middle;
    font-size: 1.6rem;
}
.weui-btn_primary{
    background-color: #f05d81 !important;
}
.weui-btn:after{
    border: none !important;
}
.weui-toast.weui-toast_text{
    width: auto !important;
    padding: 0 15px;
    max-width: 220px;
}
.weui-toast{min-width:11em !important;}
.weui-cell_access .weui-cell__ft:after{
    height: 9px !important;
    width: 9px !important;
    border-width: 1px 1px 0 0 !important;
    border-color: #b2b2b2 !important;
}
.vux-popup-header-right, .dp-header .dp-item.dp-right,.weui-dialog__btn_primary{
    color: #fd6893 !important;
}
/* 公用无内容，加载样式 */
.noMore{
    text-align: center;
    line-height: 35px;
    color: #666;
    font-size: 12px;
}
.noImg{
    text-align: center;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
}
.noImg img {
    width:78px;
}
.more{
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
}
.more span{
    vertical-align:middle;display:inline-block;
}

/* 公用单选按钮样式 */
.radioWrap{
    display: flex;
    position: relative;
    align-items: center;
}
.radioWrap span{
    margin-left: 10px;
}
.radioWrap .radioInput{
    width:20px;
    height:20px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    z-index: 1;
}
.radioWrap .radioCheckIcon{
    width:20px;
    height:20px;
    font-size: 23px;
    display: block;
    position: relative;
}

.radioInput + .radioCheckIcon:before{
    content: "\e609";
    color: #ccc;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left:0;
    top:0;
}
.radioInput:checked + .radioCheckIcon:before{
    content: "\e629"; 
    color: #ff477c;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left:0;
    top:0;
}
.van-search .van-field__clear{
    color: #ccc;
    width: auto;
    position: absolute;
    right: 1px;
    top:6px
}
.van-popup--bottom {
    width: auto !important; 
    top: auto !important; 
    bottom: unset !important; 
    right: auto !important;
    left: auto !important;
    -webkit-transform:unset !important;
    transform: unset !important;
}
.van-popup {
    position: unset !important;
    top:auto !important;
    left: auto !important;
    max-height: auto !important;
    overflow-y: unset !important;
    background-color: #fff;
    -webkit-overflow-scrolling: unset !important;
    -webkit-transform: unset !important;
    transform: unset !important;
}
.van-popup--bottom,.van-popup {
    -webkit-transform: unset !important;
    transform: unset !important;
    -webkit-transform-origin: unset !important;
}
.van-popup--top {
    top: 50px !important;
    left: 0 !important;
}



